@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	background: #ffffff;
	align-items: center;
	justify-content: center;
}

.title {
	color: #fffe22;
	font-size: 50px;
	position: relative;
	text-transform: uppercase;
	-webkit-text-stroke: 0.3vw #f7f7fe;
}

.title::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #fffe00;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #fffe22;
	-webkit-text-stroke: 0vw #f7f7fe;
	animation: animate 6s linear infinite;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}
